@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

html, body {
  background: #F3F4F6 !important;
}

#container_generator_form {
  padding: 2% 20%;
}

.card{
  box-shadow: 0 7px 14px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11);
  border: none !important;
}

#app_env_vars{
  height: 400px;
  overflow-x: scroll;
  white-space: pre-wrap;
}