{% extends "layout.html.twig" %}

{% block card_content %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% for errorMessage in errors %}
            <li>{{ errorMessage }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block card_footer %}
    <div class="d-grid gap-2">
        <a class="btn btn-secondary" href="./">
            <i class="bi bi-arrow-left-square"></i> Deploy a new container
        </a>
    </div>
{% endblock %}