<!DOCTYPE html>
<html>
<head>
    <title>Prestashop docker instance creator</title>
    <link rel="stylesheet" href="{{ assets_dir }}app.css">
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<script src="{{ assets_dir }}app.js"></script>
</body>
</html>